<div class="flex flex-wrap mx-[calc(-0.5*_1.5rem)]">
    <div
        class="flex-[0_0_auto] w-full max-w-full px-[calc(0.5*_1.5rem)]"
    >
        <div
            class="more-questions !text-center mt--40 mt-[40px] lg:max-xl:!mt-[30px] md:max-lg:!mt-[30px]"
        >
            <div
                class="more-questions-txt bg--white-400 rounded-[100px] inline-block px-[46px] py-[22px] lg:max-xl:px-11 lg:max-xl:py-[18px] md:max-lg:px-[42px] md:max-lg:py-[18px] sm:max-md:px-[42px] sm:max-md:py-[18px] xsm:max-sm:px-9 xsm:max-sm:py-[18px]"
            >
                <p
                    class="p-lg leading-none !mb-0 lg:max-xl:!text-[1.125rem] md:max-lg:!text-[1.125rem] sm:max-md:!text-[1.125rem] xsm:max-sm:!text-[1.125rem]"
                >
                    Have any questions?
                    <a
                        href="contacts.html"
                        class="color--theme font-medium !underline hover:text-[#353f4f] hover:!underline"
                        >Get in Touch</a
                    >
                </p>
            </div>
        </div>
    </div>
</div>