<section id="contacts-1"
    class="pb--120 pb-[40px] contacts-section lg:max-xl:!pb-[100px] md:max-lg:!pb-[80px] {{ if hero_enabled }}!pt-[40px]{{ else }}!pt-[40px] md:!pt-[180px] lg:max-xl:pt-[160px] md:max-lg:!mt-[80px] md:max-lg:pt-[70px]{{ /if }}">
    <div class="container">


        <div class="flex flex-wrap mx-[calc(-0.5*_1.5rem)] justify-center">
            <div class="md:w-10/12 lg:max-xl:w-8/12 xl:w-8/12 w-full flex-[0_0_auto] px-[calc(0.5*_1.5rem)] max-w-full">
                <div class="section-title !text-center mb--70 mb-[70px] lg:max-xl:!mb-[60px] md:max-lg:!mb-[50px]">

                    <h2
                        class="s-52 w--700 xl:!text-[3.25rem] lg:max-xl:!text-[3rem] md:max-lg:!text-[2.79411rem] sm:max-md:!text-[2.375rem] xsm:max-sm:!text-[2.0625rem] !font-bold !tracking-[-0.5px] leading-[1.25] font-Jakarta sm:max-md:!leading-[1.35] xsm:max-sm:!leading-[1.35]">
                        Nous contacter
                    </h2>

                    <p
                        class="p-xl !mt-[15px] !mb-0 lg:max-xl:!mt-3 md:max-lg:!mt-3 sm:max-md:!mt-[14px] xsm:max-sm:!text-[1.125rem] xsm:max-sm:!mt-[14px]">
                        Réservez votre photobooth miroir magic
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- End container -->
</section>

<!-- TEXT CONTENT
                         ============================================= -->
<section
    class="bg-[#f1f1f1] py-[20px] md:py-[70px] lg:max-xl:py-[70px] md:max-lg:py-[70px] ct-01 content-section division">
    <div class="container">
        <!-- SECTION CONTENT (ROW) -->
        <div class="flex flex-wrap mx-[calc(-0.5*_1.5rem)] items-center">
            <!-- TEXT BLOCK -->
            <div
                class="md:w-6/12 lg:max-xl:w-6/12 xl:w-6/12 w-full flex-[0_0_auto] px-[calc(0.5*_1.5rem)] max-w-full order-last order-md-2 md:max-lg:order-2 lg:max-xl:order-2 xl:order-2">
                <div class="txt-block left-column wow fadeInRight">
                    <!-- TEXT BOX -->
                    <div class="txt-box !mb-[20px] md:max-lg:!mb-[5px] last:!mb- max-w-[580px]">
                        <!-- Text -->
                        <article>{{ content }}</article>
                    </div>
                    <!-- END TEXT BOX -->
                </div>

                <div class="wow fadeInRight">

                    <p><strong>Pour nous contacter:</strong></p>
                    <ul>
                        <li>
                            <p class="flex items-center gap-x-2"><svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
                                    <path fill="#c8a257"
                                        d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
                                </svg><a href="https://wa.me/{{ contact_info:phone; }}">{{ contact_info:phone; }}</a>
                            </p>
                        </li>
                        <li>
                            <p class="flex items-center gap-x-2"><svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
                                    <path fill="#c8a257"
                                        d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z" />
                                </svg><a href="mailto:{{ contact_info:email; }}">{{ contact_info:email; }}</a></p>
                        </li>
                    </ul>

                    <p><strong>Suivez-nous sur les réseaux</strong></p>
                    <ul>
                        <li>
                            <p class="flex items-center gap-x-2"><svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
                                    <path fill="#c8a257"
                                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                                </svg> <a href="https://www.instagram.com/photobooth.miroirmagic/"
                                    target="_blank">Instagram : @photobooth.miroirmagic</a></p>
                        </li>
                        <li>
                            <p class="flex items-center gap-x-2"><svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2024 Fonticons, Inc. -->
                                    <path fill="#c8a257"
                                        d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
                                </svg><a href="https://www.linkedin.com/company/location-borne-photobooth-miroir-magic/"
                                    target="_blank">Linkedin : @location-borne-photobooth-miroir-magic</a></p>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- END TEXT BLOCK -->
            <!-- IMAGE BLOCK -->
            <div
                class="md:w-6/12 lg:max-xl:w-6/12 xl:w-6/12 w-full flex-[0_0_auto] px-[calc(0.5*_1.5rem)] max-w-full order-first order-md-2 md:max-lg:order-2 lg:max-xl:order-2 xl:order-2">
                <div
                    class="img-block !text-center right-column wow fadeInLeft ml-[30px] lg:max-xl:ml-[5px] md:max-lg:ml-0 sm:max-md:!mx-[3%] xsm:max-sm:!m-[0_2%_35px]">
                    <img class="decor-line img-fluid rounded-lg shadow-lg"
                        src="images/contact/Photobooth-corporate-miroir-magic-cannes.jpg.webp" alt="content-image" />
                </div>
            </div>
        </div>
        <!-- END SECTION CONTENT (ROW) -->
    </div>
    <!-- End container -->
</section>
<!-- END TEXT CONTENT -->

<!-- CONTACT 2 FORM -->
<div class="py-[40px] md:py-[80px] flex flex-wrap mx-[calc(-0.5*_1.5rem)] justify-center mt-0">
    <div
        class="contact-form-box max-w-[800px] d:w-11/12 lg:max-xl:w-10/12 xl:w-8/12 w-full flex-[0_0_auto] px-[calc(0.5*_1.5rem)]">
        <!-- Title -->
        <h3
            class="s-52 text-center xl:!text-[2.25rem] lg:max-xl:!text-[2rem] md:max-lg:!text-[1.79411rem] sm:max-md:!text-[1.375rem] xsm:max-sm:!text-[1.0625rem] !font-bold !tracking-[-0.5px] !mb-0 xsm:max-sm:px-[1%] xsm:max-sm:py-0 font-Jakarta leading-[1.25] sm:max-md:!leading-[1.35] xsm:max-sm:!leading-[1.35]">
            Demande D'informations
        </h3>

        <div class="form-holder mt-10 pb-8">
            <div class="mx-[calc(-0.5*_1.5rem)]">

                {{ nocache }}

                {{ form:contact_form id="contactForm" }} {{ if success }}
                <div class="bg-green-500 text-white p-2 rounded-xl text-center">
                    Merci. Nous avons bien reçu votre message.
                </div>
                {{ else }} {{ fields }}
                <div class="w-full flex-[0_0_auto] px-[calc(0.5*_1.5rem)] max-w-full mt-8">
                    <p class="p-lg text-[#353f4f] !text-[1.125rem] !leading-none font-medium !mb-[15px] pl-[8px]">
                        {{ display }}
                    </p>

                    {{ if type == "text" || type == "email" || type == "phone"
                    }}
                    <input type="{{ input_type }}" name="{{ handle }}"
                        class="form-control block w-full email h-[42px] xl:!h-[62px] bg-[#f5f6f8] border shadow-[0_0_0_0] !text-[#3a4a56] !text-[1rem] !font-normal not-first-of-type:not-odd:p-[0_15px] rounded-[6px] border-solid border-transparent lg:max-xl:!h-[54px] md:max-lg:!h-[52px] sm:max-md:!h-[54px] xsm:max-sm:!h-[54px] focus:shadow-none focus:bg-[#fcfdfd] focus:border-[#1680fb] focus:[outline:0px_none]"
                        placeholder="{{ placeholder }}" />
                    {{ elseif type == "textarea"}}
                    <textarea
                        class="form-control block w-full message xl:!h-[62px] bg-[#f5f6f8] border shadow-[0_0_0_0] !text-[#3a4a56] !text-[1rem] !font-normal p-[0_15px] rounded-[6px] border-solid border-transparent lg:max-xl:!h-[54px] md:max-lg:!h-[52px] sm:max-md:!h-[54px] xsm:max-sm:!h-[54px] focus:shadow-none focus:bg-[#fcfdfd] focus:border-[#1680fb] focus:[outline:0px_none]"
                        name="{{ handle }}" rows="6" placeholder="{{ placeholder }}"></textarea>
                    {{ /if }} {{ if error }}
                    <div class="text-sm text-red-500">{{ error }}</div>
                    {{ /if }}
                </div>
                {{ /fields }}

                {{ captcha }}

                <label for="check" class="!flex items-start justify-center gap-x-3 mt-4">
                    <input type="checkbox" name="disclaimer" id="check" class="mt-[10px]" required>
                    <div class="!text-[#222] mb-0">{{ captcha:disclaimer }}</div>
                </label>

                {{ if error:captcha }}
                <p>{{ error:captcha }}</p>
                {{ /if }}

                <!-- Contact Form Button -->
                <div class="w-full flex-[0_0_auto] px-[calc(0.5*_1.5rem)] max-w-full mt-[15px] form-btn text-center">
                    <button class="btn btn--theme hover--theme submit">
                        Envoyer
                    </button>
                </div>
                {{ /if }} {{ /form:contact_form }}

                {{ /nocache }}

            </div>
        </div>
    </div>
</div>
<!-- END CONTACT 2 FORM -->