<section
    class="gr--whitesmoke pb--80 xl:!pb-[80px] lg:max-xl:!pb-[60px] md:max-lg:!pb-[50px] division {{ if hero_enabled }}!pt-[40px]{{ else }}pt-[180px] lg:max-xl:pt-[160px] md:max-lg:!mt-[80px] md:max-lg:pt-[70px]{{ /if }}">
    <div class="container">
        <div class="flex flex-wrap mx-[calc(-0.5*_1.5rem)] justify-center">
            <div class="xl:w-10/12 w-full flex-[0_0_auto] px-[calc(0.5*_1.5rem)] max-w-full">
                <!-- INNER PAGE TITLE -->
                <div
                    class="inner-page-title !text-center xl:!mb-[80px] lg:max-xl:!mb-[60px] md:max-lg:!mb-[45px] sm:max-md:!mb-[50px] xsm:max-sm:!mb-[50px]">
                    <h1
                        class="s-52 w--700 xl:!text-[3.25rem] lg:max-xl:!text-[3rem] md:max-lg:!text-[2.79411rem] sm:max-md:!text-[2.375rem] xsm:max-sm:!text-[2.0625rem] !font-bold !mb-0 md:max-lg:!mb-0 sm:max-md:!mb-0 xsm:max-sm:!mb-0 leading-[1.25] font-Jakarta sm:max-md:!leading-[1.35] xsm:max-sm:!leading-[1.35]">
                        {{ $title }}
                    </h1>
                </div>

                <!-- TEXT BLOCK -->
                <div class="txt-block legal-info">
                    {{ content }}

                    {{ if type == "html" }}
                    <article>{{ markup }} {{ code }}{{/markup }}</article>{{ /if }}

                    {{ if type == "text" }}
                    <article>{{ text | raw }}</< /article>
                        {{ /if }}

                        {{ /content }}
                </div>
                <!-- END TEXT BLOCK -->
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>

<!-- BANNER-1
                ============================================= -->
<section class="pt--50 pt-[50px] lg:max-xl:pt-[50px] md:max-lg:pt-50px] banner-section mb-15">
    <div class="container">
        <!-- BANNER-1 WRAPPER -->
        <div
            class="banner-1-wrapper rounded-[16px] relative overflow-hidden !text-center sm:max-md:mr-[-15px] sm:max-md:ml-[-15px] sm:max-md:my-0 sm:max-md:rounded-[0_0] xsm:max-sm:mr-[-15px] xsm:max-sm:ml-[-15px] xsm:max-sm:my-0 xsm:max-sm:rounded-[0_0]">
            <div
                class="cta-box banner-overlay bg--05 bg--fixed pt-[75px] !pb-[85px] px-[15%] lg:max-xl:pt-[60px] lg:max-xl:!pb-[70px] lg:max-xl:px-[15%] md:max-lg:pt-[45px] md:max-lg:!pb-[55px] md:max-lg:px-[12%] sm:max-md:pt-[55px] sm:max-md:!pb-[65px] sm:max-md:px-[60px] xsm:max-sm:pt-[60px] xsm:max-sm:!pb-[70px] xsm:max-sm:px-[30px] bg-scroll sm:max-md:w-auto xsm:max-sm:w-auto w-full bg-no-repeat bg-[center_center] bg-cover bg-[url('/images/bg-05.jpg')]">
                <div class="flex flex-wrap mx-[calc(-0.5*_1.5rem)]">
                    <!-- BANNER-1 TEXT -->
                    <div class="flex-[0_0_auto] w-full max-w-full px-[calc(0.5*_1.5rem)]">
                        <div class="banner-1-txt color--white">
                            <!-- Title -->
                            <h2
                                class="s-45 w--700 xl:!text-[2.8125rem] lg:max-xl:!text-[2.5625rem] md:max-lg:!text-[2.20588rem] sm:max-md:!text-[2.25rem] xsm:max-sm:!text-[1.8125rem] !font-bold !tracking-[-0.5px] xl:!mb-[15px] lg:max-xl:!mb-[16px] md:max-lg:!mb-[16px] sm:max-md:!mb-[12px] xsm:max-sm:!mb-[12px] leading-[1.25] font-Jakarta sm:max-md:!leading-[1.35] xsm:max-sm:!leading-[1.35]">
                                Avez-vous des questions?
                            </h2>
                            <!-- Text -->
                            <p
                                class="p-xl !mt-0 !mb-[25px] lg:max-xl:!mt-[15px] md:max-lg:!mt-3 sm:max-md:!mt-[14px] xsm:max-sm:!text-[1.125rem] xsm:max-sm:!mt-[14px] lg:max-xl:!mb-[25px] md:max-lg:!mb-[20px] sm:max-md:!mb-[20px] xsm:max-sm:!mb-[20px]">
                                Ne manquez pas cette occasion de rendre votre
                                événement inoubliable avec le Photobooth Miroir
                                Magic. Contactez-nous dès maintenant pour
                                réserver votre animation.
                            </p>
                            <div class="btns-group inline-block">
                                <!-- Button -->
                                <a href="/nous-contacter-devis-photoboth-borne-miroir"
                                    class="btn !rounded-[4px] btn--theme hover--tra-white mr-2">Réservez
                                </a>
                                <a href="/contacter"
                                    class="btn !rounded-[4px] btn--tra-white hover--theme hover--tra-white">Contactez-nous
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- END BANNER-1 TEXT -->
                </div>
                <!-- End row -->
            </div>
            <!-- End banner overlay -->
        </div>
        <!-- END BANNER-1 WRAPPER -->
    </div>
    <!-- End container -->
</section>
<!-- END BANNER-1 -->