<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {{ collection from="pages|blog|portfolios" }}
        {{ if url || permalink }}
        <url>
            <loc>{{ permalink ?? absolute_url }}</loc>
            <lastmod>{{ last_modified format="Y-m-d" }}</lastmod>
            <changefreq>weekly</changefreq>
            <priority>{{ if is_home }}1.0{{ else }}0.8{{ /if }}</priority>
        </url>
        {{ /if }}
    {{ /collection }}
</urlset>
