<!-- PAGE 404
                     ============================================= -->
<section id="page-404" class="bg--white-300 division">
    <div class="container">
        <div class="flex flex-wrap mx-[calc(-0.5*_1.5rem)] justify-center">
            <!-- 404 PAGE TEXT -->
            <div
                class="md:w-9/12 lg:max-xl:w-8/12 xl:w-8/12 w-full flex-[0_0_auto] px-[calc(0.5*_1.5rem)] max-w-full"
            >
                <div
                    class="page-404-txt !text-center lg:max-xl:pt-[160px] lg:max-xl:!pb-[80px] md:max-lg:!mt-[80px] md:max-lg:pt-[100px] md:max-lg:!pb-[80px] sm:max-md:pt-[100px] xsm:max-sm:!pt-[100px] xsm:max-sm:!pb-[60px] pt-[180px] pb--100 xl:!pb-[100px]"
                >
                    <!-- Image -->
                    <div
                        class="rel page-404-img lg:max-xl:!mb-[20px] lg:max-xl:px-[8%] lg:max-xl:py-0 md:max-lg:!mb-[20px] md:max-lg:px-[8%] md:max-lg:py-0 sm:max-md:!mb-[20px] sm:max-md:px-[8%] sm:max-md:py-0 xsm:max-sm:!mb-[20px] xsm:max-sm:px-[4%] xsm:max-sm:py-0 mb--20 xl:!mb-[20px] px-[5%] py-0 relative z-[3]"
                    >
                        <img
                            class="img-fluid !m-[0_auto] inline-block max-h-[350px]"
                            src="images/error-404.png"
                            alt="error-404-img"
                        />
                    </div>
                    <!-- Text -->
                    <h2
                        class="s-56 xl:!text-[3.5rem] md:max-lg:!text-[2.94117rem] lg:max-xl:!text-[3.25rem] sm:max-md:!text-[2.375rem] xsm:max-sm:!text-[2.0625rem] !font-bold color--dark xl:!mb-[20px] lg:max-xl:!mb-[20px] md:max-lg:!mb-[20px] sm:max-md:!mb-[15px] xsm:max-sm:!mb-[15px] leading-[1.25] font-Jakarta sm:max-md:!leading-[1.35] xsm:max-sm:!leading-[1.35]"
                    >
                        Page non trouvée
                    </h2>
                    <h6
                        class="s-22 xl:!text-[1.375rem] lg:max-xl:!text-[1.25rem] md:max-lg:!text-[1.397058rem] xsm:max-sm:!text-[1.3125rem] color--grey lg:max-xl:!mb-[25px] lg:max-xl:px-[8%] lg:max-xl:py-0 md:max-lg:!mb-[25px] md:max-lg:px-[5%] md:max-lg:py-0 sm:max-md:!text-[1.375rem] sm:max-md:!leading-[1.666] sm:max-md:!mb-[25px] sm:max-md:px-[3%] sm:max-md:py-0 xsm:max-sm:!leading-[1.6666] xsm:max-sm:!mb-[22px] xsm:max-sm:px-[2%] xsm:max-sm:py-0 xl:!leading-[1.6] !font-normal mb--30 xl:!mb-[30px] px-[5%] py-0 font-Jakarta"
                    >
                        Oups ! La page que vous recherchez a peut-être été
                        déplacée, renommée ou n'a jamais existé.
                    </h6>
                    <!-- Button -->
                    <a href="/" class="btn btn--theme hover--theme"
                        >Retour à la maison</a
                    >
                </div>
            </div>
            <!-- END 404 PAGE TEXT -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
<!-- END PAGE 404 -->
