<section
    id="single-post"
    class="pb--40 pb-[40px] !mb-0 lg:max-xl:!pb-[40px] md:max-lg:!pb-[40px] sm:max-md:!pb-[40px] xsm:max-sm:!pb-[40px] inner-page-hero blog-page-section !pt-[40px] md:!pt-[180px] lg:max-xl:pt-[160px] md:max-lg:!mt-[80px] md:max-lg:pt-[70px]"
>
    <div class="container">
        <!-- row -->
        <div class="flex flex-wrap mx-[calc(-0.5*_1.5rem)] justify-center">
            <!-- SINGLE POST CONTENT -->
            <div
                class="xl:w-10/12 w-full flex-[0_0_auto] px-[calc(0.5*_1.5rem)] max-w-full"
            >
                <div class="post-content">
                    <!--  SINGLE POST TITLE -->
                    <div class="single-post-title !text-center">
                        <h1
                            class="s-46 w--700 xl:!text-[2.875rem] lg:max-xl:!text-[2.625rem] md:max-lg:!text-[2.35294rem] sm:max-md:!text-[2.25rem] xsm:max-sm:!text-[1.8125rem] !font-bold p-[0_10px] lg:max-xl:px-[10%] lg:max-xl:py-0 md:max-lg:!mb-[20px] md:max-lg:px-[3%] md:max-lg:py-0 sm:max-md:!mb-[20px] sm:max-md:px-[5%] sm:max-md:py-0 xsm:max-sm:!mb-[20px] xsm:max-sm:px-[8%] xsm:max-sm:py-0 leading-[1.25] font-Jakarta sm:max-md:!leading-[1.35] xsm:max-sm:!leading-[1.35]"
                        >
                            {{ name }}
                        </h1>
                    </div>
                    <!-- END SINGLE POST TITLE -->

                    <!-- END SINGLE POST TEXT -->
                </div>
            </div>
            <!-- END  SINGLE POST CONTENT -->
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>



